/* .LiveApp-composition--overview .LiveClock-timer-wrapper .LiveClock-timer {
  font-size: 30rem !important;
}

.LiveApp-composition--overview .LivePlanItem-title {
  font-size: 10rem !important;
} */
